Bakery.configure do

  # config.root_url = "http://example.com/site/"

  # config.models += ["post"]

  # config.output_directories.merge!({
  #   :post => "public/blog"
  # })

  # config.sync = {
  #   :user => 'www',
  #   :host => 'example.com',
  #   :remote_path => '/var/www/example.com/'
  # }

  # config.helpers += []

end
